div.simple-colors > ul {
    margin:0;
    padding:0;
    list-style:none;
}
div.simple-colors > ul > li {
    border: 1px solid #fff;
    position:relative;
    float:left;
    width:17px;
    height:17px;
    margin:2px 1px 0 0;
    background:#000;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:.6;
}

div.simple-colors li:hover {
    filter:alpha(opacity=100);
    opacity:1
}
div.simple-colors li.active {
    width: 30px;
    height: 26px;
    margin-top: 2px;
    border-radius: 3px;
    opacity: 1;
}